section{
    padding: 60px 10%;
}

.about{
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.about h4{
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Montserrat';
}
.about-text h2{
    font-size: 22px;
    color: var(--black);
    font-weight: 400;
    line-height: 1.2;
    margin: 23px 0;
}
.about-text h2 strong {
    color: var(--red);
}
.about-img img{
    max-width: 100%;
    width: 50%;
    height: 50%;
}
.about-text img{
    max-width: 100%;
    width: 30%;
    height: 50%;
}