section{
    padding: 60px 10%;
}

.juliana{
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
}