@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(responsive.css);
@import url(featureFabiola.css);
@import url(featureSofia.css);
@import url(featureMarcio.css);
@import url(featureDavi.css);
@import url(fonts.css);
@import url(reset.css);

:root{
    --bg-color: #e7e9ee;
    --bg-color-header: #EBE4D1;
    --white:#ffffff;
    --black: #1a1919;
    --gray: #666;
    --red: #CC3333;
}
