section{
    padding: 60px 10%;
}

.home{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.home img{
    max-width: 100%;
    width: 50%;
    height: 10%;
}

.home-text h4{
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    font-family: 'Lobster', cursive;
}
.home-text h1{
    font-size: 50px;
    color: var(--black);
    font-weight: 700;
    line-height: 1.2;
    margin: 23px 0;
}
.home-text h1 span{
    color: var(--red);
    text-decoration: underline;
}
.home-text p{
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

.main-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.main-btn .btn1{
    display: inline-block;
    color: var(--white);
    font-size: 15px;
    text-transform: capitalize;
    background-color: var(--red);
    padding: 12px 30px;
    transition: all .42s ease;
}
.main-btn .btn1:hover{
    background-color: var(--black);
}
.main-btn .btn2{
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.main-btn .btn2 span i{
    height: 50px;
    width: 50px;
    background: var(--red);
    color: var(--white);
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .42s ease;
}
.main-btn .btn2 span i:hover{
    transform: translateY(-5px);
}